#INST "clk_BUFGP" LOC = BUFGMUX_X2Y11;
#NET "DU" LOC = G18;
#NET "EN" LOC = R17;
#NET "G6" LOC = K17;
#NET "G3" LOC = L14;
#NET "G2" LOC = L13;
#NET "G1" LOC = N17;
NET "REF" LOC = H18;
NET "ROC" LOC = K18;
NET "clk" LOC = B8;
NET "ANODE[0]" LOC = F17;
NET "ANODE[1]" LOC = H17;
NET "ANODE[2]" LOC = C18;
NET "ANODE[3]" LOC = F15;
NET "OUTDIGIT[0]" LOC = L18;
NET "OUTDIGIT[1]" LOC = F18;
NET "OUTDIGIT[2]" LOC = D17;
NET "OUTDIGIT[3]" LOC = D16;
NET "OUTDIGIT[4]" LOC = G14;
NET "OUTDIGIT[5]" LOC = J17;
NET "OUTDIGIT[6]" LOC = H14;
NET "OUTDIGIT[7]" LOC = C17;
NET "LEDS[0]" LOC = J14;
NET "LEDS[1]" LOC = J15;
NET "LEDS[2]" LOC = K15;
NET "LEDS[3]" LOC = K14;
NET "LEDS[4]" LOC = E17;
NET "LEDS[5]" LOC = P15;
NET "LEDS[6]" LOC = F4;
NET "LEDS[7]" LOC = R4;
NET "RST" LOC = B18;
NET "RXD" LOC = U6;
NET "TXD" LOC = P9;