//! **************************************************************************
// Written by: Map P.20131013 on Sat May 07 22:16:42 2016
//! **************************************************************************

SCHEMATIC START;
COMP "OUTDIGIT<0>" LOCATE = SITE "V16" LEVEL 1;
COMP "OUTDIGIT<1>" LOCATE = SITE "T15" LEVEL 1;
COMP "OUTDIGIT<2>" LOCATE = SITE "U14" LEVEL 1;
COMP "OUTDIGIT<3>" LOCATE = SITE "T16" LEVEL 1;
COMP "OUTDIGIT<4>" LOCATE = SITE "V15" LEVEL 1;
COMP "REF" LOCATE = SITE "L16" LEVEL 1;
COMP "ROC" LOCATE = SITE "J15" LEVEL 1;
COMP "RST" LOCATE = SITE "V10" LEVEL 1;
COMP "RXD" LOCATE = SITE "C4" LEVEL 1;
COMP "TXD" LOCATE = SITE "D4" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "dis<0>" LOCATE = SITE "J17" LEVEL 1;
COMP "dis<1>" LOCATE = SITE "J18" LEVEL 1;
COMP "dis<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "dis<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "dis<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "dis<5>" LOCATE = SITE "T14" LEVEL 1;
COMP "dis<6>" LOCATE = SITE "K2" LEVEL 1;
COMP "dis<7>" LOCATE = SITE "U13" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "seg_out<6>" LOCATE = SITE "T10" LEVEL 1;
COMP "seg_out<5>" LOCATE = SITE "R10" LEVEL 1;
COMP "seg_out<2>" LOCATE = SITE "P15" LEVEL 1;
COMP "seg_out<1>" LOCATE = SITE "T11" LEVEL 1;
COMP "seg_out<4>" LOCATE = SITE "K16" LEVEL 1;
COMP "seg_out<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "seg_out<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "st_indicator<0>" LOCATE = SITE "V14" LEVEL 1;
COMP "st_indicator<2>" LOCATE = SITE "V11" LEVEL 1;
COMP "st_indicator<1>" LOCATE = SITE "V12" LEVEL 1;
COMP "ANODE<3>" LOCATE = SITE "G14" LEVEL 1;
COMP "ANODE<1>" LOCATE = SITE "M16" LEVEL 1;
COMP "ANODE<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "ANODE<0>" LOCATE = SITE "R12" LEVEL 1;
COMP "RO2/G10" LOCATE = SITE "SLICE_X18Y14" LEVEL 1;
COMP "RO2/G6t" LOCATE = SITE "SLICE_X19Y14" LEVEL 1;
COMP "RO2/G19" LOCATE = SITE "SLICE_X21Y14" LEVEL 1;
COMP "RO2/G16" LOCATE = SITE "SLICE_X20Y14" LEVEL 1;
COMP "GEX" LOCATE = SITE "SLICE_X22Y14" LEVEL 1;
COMP "RO2/G23t" LOCATE = SITE "SLICE_X23Y14" LEVEL 1;
SCHEMATIC END;

